body {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

#canvas {
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
}

button {
    display: block;
    margin: 10px auto;
    border: transparent;
    padding: 18px;
    font-size: 14px;
    border-radius: 20px;
}

#game {
    text-align: center;
}