@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --top-color: #E2B537;
  --bottom-color: #E2B537;
  --right-color: #E2B537;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}