/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

/* Home Page Styling */

.container {
  background-image: url("../../public/Images/BG.jpeg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  font-family: "Jua", sans-serif;
}

.title {
  font-size: 160px;
  margin-top: 10rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.text {
  font-size: 40px;
  padding-left: 20rem;
  padding-right: 20rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.startGameBtn {
  margin-top: 3rem;
  font-size: 2rem;
  background-color: #45bdb5;
  color: white;
  padding: 10px;
  width: 250px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.aboutGameBtn {
  display: block;
  font-size: 30px;
  margin: 10px;
  color: white;
  width: 70px;
  height: 66px;
  background-color: #ffa89d;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Media Queries */

@media screen and (max-width: 1400px) {
  .title {
    font-size: 100px;
  }
  .text {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 30px;
  }
}